$column-count: 7;
$column-width: 100px;
$gap: 1px;
$horizontal-padding: 10px;
$day-size: $column-width;
$day-bg: #eee;
$day-border: 1px solid black;
$font-family: Arial, sans-serif;
$font-size: 30px;
